.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 2px .2px 3px black;
  padding: .5rem;

  > h1 {
    color: orangered;
  }

  > p {
    margin-top: 5px;
    text-align: center;
    color: grey;
  }
}